:root {
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  background-color: #222;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #333;
  margin: 0.75em 0;
  padding: 0.75em 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25em;
}

input {
  padding: 0.75em 1em;
  border: 1px solid #666;
  border-radius: 0.25em;
  width: 94.6%;
  font-size: inherit;
  font-family: inherit;
}

button {
  padding: 0.75em 1.5em;
  margin-top: 0.75em;
  margin-bottom: 2em;
  border: 1px solid #333;
  border-radius: 0.25em;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
}
